name: Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: mavaddat/caironode:latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 'latest'
        check-latest: true
        cache: 'npm'
    - name: Lint
      run: |
        npm config set registry https://mavaddat.jfrog.io/artifactory/api/npm/default-npm-remote/
        curl -u ${{ secrets.NPM_EMAIL}}:${{ secrets.JFROGPASS }} https://mavaddat.jfrog.io/artifactory/api/npm/auth >> ${{ github.workspace }}/.npmrc
        npm install --save-dev eslint && npm install eslint-config-google@latest && npm install --save-dev eslint-plugin-markdown
        if [ $? -ne 0 ]; then
          npm_log_location=$(npm config get cache)
          cat "${npm_log_location}/_logs/*.log"
          exit 1
        fi
        echo 'module.exports = {\n\t"env": {\n\t\t"browser": true,\n\t\t"es2021": true\n\t},\n\t"extends": [\n\t\t"google"\n\t],\n\t"parserOptions": {\n\t\t"ecmaVersion": "latest",\n\t\t"sourceType": "module"\n\t},\n\t"rules": {\n\t}\n}\n' > .eslintrc.js
    - uses: reviewdog/action-eslint@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-check
        eslint_flags: .*.js source/*.js

  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    container: mavaddat/caironode:latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 'latest'
        check-latest: true
        cache: 'npm'
    - name: npm build and deploy
      run: |
        npm config set registry https://mavaddat.jfrog.io/artifactory/api/npm/default-npm-remote/
        curl -u ${{ secrets.NPM_EMAIL}}:${{ secrets.JFROGPASS }} https://mavaddat.jfrog.io/artifactory/api/npm/auth >> ${{ github.workspace }}/.npmrc
        npm install async --dry-run --verbose
        if [ $? -ne 0 ]; then
          npm_log_location=$(npm config get cache)
          cat "${npm_log_location}/_logs/*.log"
          exit 1
        fi
        npm install
        npm run build.sass && npm run build.11ty
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.3.0
      with:
        branch: gh-pages
        folder: _site
