name: Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 17
      uses: actions/setup-node@v2
      with:
        node-version: '17'

    - name: Config
      shell: bash
      run: |
        npm config set registry https://mavaddat.jfrog.io/artifactory/api/npm/default-npm-remote/
        echo "registry=https://mavaddat.jfrog.io/artifactory/api/npm/default-npm-remote/" > ${{ github.workspace }}/.npmrc
        echo "_authToken=${{ secrets.NPM_TOKEN }}" >> ${{ github.workspace }}/.npmrc
        echo "email=${{ secrets.NPM_EMAIL}}" >> ${{ github.workspace }}/.npmrc
        echo "always-auth=true" >> ${{ github.workspace }}/.npmrc
        npm login
        # if login failed, cat the newest log at /home/runner/.npm/_logs/*.log to see the error
        if [ $? -ne 0 ]; then
          cat /home/runner/.npm/_logs/*.log
          exit 1
        fi

    - name: Lint
      run: |
        npm install --save-dev eslint && npm install eslint-config-google@latest && npm install --save-dev eslint-plugin-markdown
        echo 'module.exports = {\n\t"env": {\n\t\t"browser": true,\n\t\t"es2021": true\n\t},\n\t"extends": [\n\t\t"google"\n\t],\n\t"parserOptions": {\n\t\t"ecmaVersion": "latest",\n\t\t"sourceType": "module"\n\t},\n\t"rules": {\n\t}\n}\n' > .eslintrc.js
    - uses: reviewdog/action-eslint@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-pr-review
        eslint_flags: .*.js source/*.js

    - name: npm build and deploy
      run: |
        npm install
        npm run build.sass && npm run build.11ty
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.3.0
      with:
        branch: gh-pages
        folder: _site
